<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lts.outworld_manage.mapper.systemMapper.SysUserMapper">
    
    <resultMap id="userInfo" type="com.lts.outworld_manage.mapper.systemMapper.SysUserMapper">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="userType" column="user_type"/>
        <result property="email" column="email"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="gender" column="gender"/>
        <result property="avatar" column="avatar"/>
        <result property="userPassword" column="user_password"/>
        <result property="userLoginStatus" column="user_login_status"/>
        <result property="userStatus" column="user_status"/>
        <result property="userLoginIp" column="user_loginIp"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <sql id="sys_user">
        select
               user_id,
               user_name,
               nick_name,
               user_type,
               email,
               phone_number,
               gender,
               avatar,
               user_password,
               user_login_status,
               user_status,
               user_login_ip,
               login_date,
               create_by,
               create_time,
               update_time,
               remark
        from outworld_sys.sys_user
    </sql>
    <select id="selectAllUserInfo" parameterType="com.lts.outworld_manage.entity.system.SysUser" resultMap="userInfo">
        <include refid="sys_user"/>
        <where>
            <if test="userId!=null and userId!=''">and user_id=#{userId}</if>
            <if test="userName!=null and userName!=''">and user_name=#{userName}</if>
            <if test="nickName!=null and nickName!=''">and nick_name=#{nickName}</if>
            <if test="userType!=null and userType!=''">and user_type=#{userType}</if>
            <if test="phoneNumber!=null and phoneNumber!=''">and phone_number=#{phoneNumber}</if>
            <if test="gender!=null and gender!=''">and gender=#{gender}</if>
            <if test="avatar!=null and avatar!=''">and avatar=#{avatar}</if>
            <if test="userLoginStatus!=null and userLoginStatus!=''">and user_login_status=#{userLoginStatus}</if>
            <if test="loginDate!=null and loginDate!=''">and login_date=#{loginDate}</if>
            <if test="createTime!=null and createTime!=''">and create_time=#{createTime}</if>
            <if test="updateTime!=null and updateTime!=''">and update_time=#{updateTime}</if>
        </where>
    </select>
</mapper>