<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜单修改页</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div class="left">
    当前菜单
    <div th:each="item:${menu}">
        <h3 th:text="${item.menuName}"></h3>
        <div th:if="item.children!=null">
            <ul th:each="child:${item.children}"><h3 th:text="${child.menuName}"></h3></ul>
        </div>
    </div>
</div>
<div class="right">
    增加菜单
    <form action="/sysMenu/insert" method="post">
        <input type="text" value="menuName"/>
        <input type="text" value="parentId">
        <input type="text" value="orderNum">
        <input type="text" value="path">
        <input type="text" value="type">
        <input type="text" value="icon">
        <button class="button" type="submit"></button>
    </form>
</div>

</body>
</html>